<div class="container">
    <h2>Allineamento testo</h2>
    <h3>Sinistra (default)</h3>
    <p class="border text-start ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quae cum eius et saepe nesciunt laboriosam sapiente reiciendis distinctio quo ipsum, laborum omnis modi quos aspernatur ut praesentium quam atque!</p>
    <h3>Centrato (default)</h3>
    <p class="border text-center ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quae cum eius et saepe nesciunt laboriosam sapiente reiciendis distinctio quo ipsum, laborum omnis modi quos aspernatur ut praesentium quam atque!</p>
    <h3>Destra (default)</h3>
    <p class="border text-end ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quae cum eius et saepe nesciunt laboriosam sapiente reiciendis distinctio quo ipsum, laborum omnis modi quos aspernatur ut praesentium quam atque!</p>
</div>