<div>
    <h2>Spaziature</h2>
    <h3>Padding</h3>
    <h4>no padding</h4>
    <p class="border ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt officiis beatae, vel quia asperiores voluptate rerum similique repellendus consequuntur modi dicta ullam perferendis, ex voluptatibus dolorem aspernatur praesentium minima!</p>
    <h4> padding 4 lati</h4>
    <p class="border p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt officiis beatae, vel quia asperiores voluptate rerum similique repellendus consequuntur modi dicta ullam perferendis, ex voluptatibus dolorem aspernatur praesentium minima!</p>
    
    <h4> padding sx top</h4>
    <p class="border ps-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt officiis beatae, vel quia asperiores voluptate rerum similique repellendus consequuntur modi dicta ullam perferendis, ex voluptatibus dolorem aspernatur praesentium minima!</p>
    <p class="border pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt officiis beatae, vel quia asperiores voluptate rerum similique repellendus consequuntur modi dicta ullam perferendis, ex voluptatibus dolorem aspernatur praesentium minima!</p>
    
    <h4> padding orizzontale e verticale</h4>
    <p class="border px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt officiis beatae, vel quia asperiores voluptate rerum similique repellendus consequuntur modi dicta ullam perferendis, ex voluptatibus dolorem aspernatur praesentium minima!</p>
    <p class="border py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt officiis beatae, vel quia asperiores voluptate rerum similique repellendus consequuntur modi dicta ullam perferendis, ex voluptatibus dolorem aspernatur praesentium minima!</p>


    <h3>Margini</h3>
    <h4>Margine sui 4 lati medio</h4>
    <p class="border m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore magnam totam adipisci corrupti debitis quod odio culpa, numquam, unde fugit nobis odit nam eos. Enim ipsa tempore quia placeat atque.</p>
    <p class="border ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore magnam totam adipisci corrupti debitis quod odio culpa, numquam, unde fugit nobis odit nam eos. Enim ipsa tempore quia placeat atque.</p>
    <h4>Margine tra elementi</h4>
    <p class="border d-inline-block me-4">Lorem ipsum 
    </p>
    <p class="border d-inline-block ">Lorem ipsum 
    </p>
    
</div>