<div class="container">
    <h2>Visibilita</h2>
    <h3>Mostrare in base al breakpoint ( md sm xs lg xl xxl)</h3>
    <p>Paragrafo sempre visibile</p>
    <p class="d-none d-sm-block">Paragrafo visibile da small in poi</p>
    <p class="d-none d-md-block">Paragrafo visibile da md in poi</p>

    <h3>Nascondere in base al breakpoint </h3>
    <p class="d-none">Paragrafo sempre nascosto</p>
    <p class="d-sm-none">Paragrafo visbile solo xs</p>
    <p class="d-none d-sm-block d-md-none">Paragrafo visbile solo sm</p>
</div>
