<div class="container">
    <h2>Display</h2>
    <h3>Display none</h3>
    <p class="d-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et dolorum pariatur voluptatem aliquam quae incidunt. Quos, et. Similique ab saepe doloribus ea beatae porro consectetur officiis omnis quia vero!</p>
    <h3>Display inline</h3>
    <p class="d-inline bg-info">Lorem ipsum dolor sit amet c
    <h3>Display inline</h3>
    <p class="d-inline  bg-warning">Lorem ipsum dolor sit amet c
    <h3>Display block</h3>
    <p class="d-block">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium adipisci quisquam, eius sunt itaque minima alias odio dolore aspernatur nesciunt dolorem reprehenderit tenetur iste magni earum in possimus dolores!
    <h3>Display inline block</h3>
    <p class="d-inline-block bg-warning">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem praesentium adipisci quisquam, eius sunt itaque minima alias odio dolore aspernatur nesciunt dolorem reprehenderit tenetur iste magni earum in possimus dolores!
</div>