<div class="container">
    <h2>Colonne</h2>
    <h3>12 colonna (default)</h3>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellendus hic aut exercitationem animi eveniet fuga nostrum beatae unde officia quam, a esse corporis molestias dolorem nobis veritatis, impedit saepe!
    </div>

    <h3>2 box a 6 colonne automatiche</h3>
    <div class="row">
        <p  class="col">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure consequuntur molestias accusantium sequi, possimus omnis laboriosam, libero iste ad, animi sed pariatur autem aliquam repudiandae velit quia harum dignissimos ratione.
        </p>
        <p  class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus, vitae quod blanditiis maiores repellat praesentium eum laudantium magni quia repellendus placeat ipsa officiis aut commodi dolor, aliquam quibusdam! Ducimus.
        </p>
    </div>
    
    <h3>3 box a 4 colonne automatiche</h3>
    <div class="row">
        <p  class="col">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure consequuntur molestias accusantium sequi, possimus omnis laboriosam, libero iste ad, animi sed pariatur autem aliquam repudiandae velit quia harum dignissimos ratione.
        </p>
        <p  class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus, vitae quod blanditiis maiores repellat praesentium eum laudantium magni quia repellendus placeat ipsa officiis aut commodi dolor, aliquam quibusdam! Ducimus.
        </p>
        <p  class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus, vitae quod blanditiis maiores repellat praesentium eum laudantium magni quia repellendus placeat ipsa officiis aut commodi dolor, aliquam quibusdam! Ducimus.
        </p>
    </div>

    
</div>
