<div class="container">
    <h2>Immagini</h2>
    <h3>fluida 100%</h3>
    <p> 
        <img class="img-fluid"src="assets/immagini/foto.jpg" alt="">
    </p>
    <div class="row">
        <p class="col-6">
            <img class="img-fluid"src="assets/immagini/foto.jpg" alt="">
        </p>
    </div>
    <h3>75%</h3>
    <p> 
        <img class="w-75"src="assets/immagini/foto.jpg" alt="">
    </p>
    <h3>25%</h3>
    <p> 
        <img class="w-25"src="assets/immagini/foto.jpg" alt="">
    </p>
    <h3>thumbnail</h3>
    <p class="bg-secondary p-3"> 
        <img class="w-25 img-thumbnail"src="assets/immagini/foto.jpg" alt="">
    </p>
    <h3>fluttuanti</h3>
    <div class="bg-secondary clearfix p-3">
        <img class="w-50 float-start me-3"src="assets/immagini/foto.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Natus sequi suscipit laborum dolorem
            asperiores quos maxime ut eum optio, 
            eaque provident quo commodi alias qui 
            ex explicabo. Mollitia, 
            excepturi reiciendis.
        </p> 
    </div>
   

    <h3>Immagini incolonnate</h3>
    <div class="row">
        <p class="col">
            <img class="img-fluid"src="assets/immagini/foto.jpg" alt="">
        </p>
        <p class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis iusto officiis rerum cum praesentium? Officia, rerum iste. Accusantium distinctio, ullam iure eaque impedit quos quaerat laborum ex aspernatur fugit.
        </p>
    </div>
    <h3>Immagini incolonnate</h3>
    <div class="row">
        <div class="col">
            <img class="img-fluid"src="assets/immagini/foto.jpg" alt="">
       
            <p class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis iusto officiis rerum cum praesentium? Officia, rerum iste. Accusantium distinctio, ullam iure eaque impedit quos quaerat laborum ex aspernatur fugit.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid"src="assets/immagini/foto.jpg" alt="">
       
            <p class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, perspiciatis iusto officiis rerum cum praesentium? Officia, rerum iste. Accusantium distinctio, ullam iure eaque impedit quos quaerat laborum ex aspernatur fugit.
            </p>
        </div>
    </div>
</div>

