<div class="container">
    <h2>Pulsanti</h2>
    <h3>Pulsante normale</h3>
    <button>clicca</button>

    <h3>link come pulsante</h3>
    <p>
        <a href="">Link normale</a>
        <br>
        <a href="" class="btn bg-primary text-light">Link pulsante</a>
        <br>
        <a href="" class="btn btn-primary">Link pulsante</a>
    </p>
    <h3>Pulsanti form</h3>
    <p>
        <input class="btn btn-success" type="submit" value="invia">
        <input class="btn btn-danger" type="submit" value="cancella">
    </p>
    <h3>Pulsantri standard</h3>
    <button class="btn btn-primary">primary</button>
    <button class="btn btn-secondary">secondary</button>
    <button class="btn btn-info">info</button>
    <button class="btn btn-warning">warning</button>
    <button class="btn btn-dark">dark</button>


    <h3>Pulsantri Dimensione</h3>
    <button class="btn btn-primary btn-sm">piccolo</button>
    <button class="btn btn-secondary">secondary</button>
    <button class="btn btn-info btn-lg">info</button>
 
</div>