
<div class="container">
  <h1>Bootstrap</h1>
  <p>paragrafo</p>
  <nav  class="nav" >
    <a class="nav-link bg-light p-1" routerLink="home">Home </a>
    <a class="nav-link bg-light p-1" routerLink="container">Container </a>
    <a class="nav-link bg-light p-1" routerLink="colonne">Colonne </a>
    <a class="nav-link bg-light p-1" routerLink="colonne-fisse">Colonne fisse </a>
    <a class="nav-link bg-light p-1" routerLink="colonne-responsive">Colonne responsive </a>
    <a class="nav-link bg-light p-1" routerLink="visibilita">Visibilita </a>
    <a class="nav-link bg-light p-1" routerLink="colori">Colori </a>
    <a class="nav-link bg-light p-1" routerLink="bordi">Bordi </a>
    <a class="nav-link bg-light p-1" routerLink="display">Display </a>
    <a class="nav-link bg-light p-1" routerLink="allineamento-testo">Allineamento Testo </a>
    <a class="nav-link bg-light p-1" routerLink="spaziature">Spaziature </a>
    <a class="nav-link bg-light p-1" routerLink="disposizione">Disposizione </a>
    <a class="nav-link bg-light p-1" routerLink="immagini">Immagini </a>
    <a class="nav-link bg-light p-1" routerLink="tabelle">Tabelle </a>
    <a class="nav-link bg-light p-1" routerLink="collegamenti">Collegamenti </a>
    <a class="nav-link bg-light p-1" routerLink="pulsanti">Pulsanti </a>
    <a class="nav-link bg-light p-1" routerLink="badge">Badge </a>
    <a class="nav-link bg-light p-1" routerLink="liste">Liste </a>
    <a class="nav-link bg-light p-1" routerLink="alert">Alert </a>
  </nav>
</div>
<router-outlet></router-outlet> 