<div class="container">
    <h2>Disposizione</h2>
    <h3>Allineamento orizzontale</h3>
    <h4>Sinistra</h4>
    <div class="row bg-secondary justify-content-start">
        <p class="col-6 bg-info">Lorem ipsum, dolor sit amet consectetur adipisicing 
            elit. Vel a ducimus hic libero minus aliquid at veritatis omnis,
             iste quidem numquam fuga necessitatibus, 
             temporibus assumenda sequi? Tempora nemo ipsam nam!</p>
    </div>
    <div class="row bg-secondary justify-content-center">
        <p class="col-6 bg-info">Lorem ipsum, dolor sit amet consectetur adipisicing 
            elit. Vel a ducimus hic libero minus aliquid at veritatis omnis,
             iste quidem numquam fuga necessitatibus, 
             temporibus assumenda sequi? Tempora nemo ipsam nam!</p>
    </div>
    <div class="row bg-secondary justify-content-end">
        <p class="col-6 bg-info">Lorem ipsum, dolor sit amet consectetur adipisicing 
            elit. Vel a ducimus hic libero minus aliquid at veritatis omnis,
             iste quidem numquam fuga necessitatibus, 
             temporibus assumenda sequi? Tempora nemo ipsam nam!</p>
    </div>

    <h3>Allineamento verticale</h3>
    <h4>Allineamento alto</h4>
    <div class="row bg-secondary altezza-200 align-items-start">
        <p class="col bg-info altezza-100">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Obcaecati ducimus praesentium asperiores aspernatur dolorum 
             pariatur, qui debitis cumque nostrum inventore quia dicta 
             iusto ad. Unde aspernatur consequuntur libero esse sunt?
        </p>
    </div>
    <h4>Allineamento centro</h4>
    <div class="row bg-secondary altezza-200 align-items-center">
        <p class="col bg-info altezza-100">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Obcaecati ducimus praesentium asperiores aspernatur dolorum 
             pariatur, qui debitis cumque nostrum inventore quia dicta 
             iusto ad. Unde aspernatur consequuntur libero esse sunt?
        </p>
    </div>
    <h4>Allineamento basso</h4>
    <div class="row bg-secondary altezza-200 align-items-end">
        <p class="col bg-info altezza-100">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Obcaecati ducimus praesentium asperiores aspernatur dolorum 
             pariatur, qui debitis cumque nostrum inventore quia dicta 
             iusto ad. Unde aspernatur consequuntur libero esse sunt?
        </p>
    </div>

</div>