<div class="container">
    <h2>Alert</h2>
    <h3>Alert semplice</h3>
   <div class="alert alert-success">
    <h4>Alert</h4>
    <p>Testo dell'alert</p>
   </div>
   <div class="alert alert-danger">
    <h4>Alert</h4>
    <p>Testo dell'alert</p>
   </div>
   <div class="alert alert-warning">
    <h4>Alert</h4>
    <p>Testo dell'alert</p>
   </div>
   <h3>Alert completo</h3>

    <div class="alert alert-warning">
    <h4 class="alert-heading">Alert</h4>
    <p>Testo dell'alert</p>
    <a href="" class="alert-link">ciao</a>
    <hr>
    <p class="mb-0">testo ulteriore</p>
   </div>

   <h3>Alert Dinamico</h3>
   <div [ngClass]="classe">
        <h4 class="alert-heading">Dati prodotto</h4>
        <p>Nome: {{prodotto.nome}}</p>
        <p>Presso: {{prodotto.prezzo}}</p>
        <p>Pezzi: {{prodotto.pezzi}}</p>
        <hr>
        <p class="mb-0">
            <button (click)="aggiungi()"class="btn btn-secondary">aggiungi al carrello</button>
        </p>
   </div>
</div>
