<div class="container">
    <h2>Badge</h2>
    <h3>normale</h3>
    <p>esempio di <span class="badge bg-primary">badge</span></p>

    <h3>Arrotondato</h3>
    <p>
        hai <span class="badge bg-primary rounded-pill">{{messaggi}}</span> nuovi messaggi
    </p>

    <p>
        <button (click)="aumenta()" class="btn btn-info m-1">+</button>
        <button (click)="riduci()"class="btn btn-info m-1">-</button>
        <button (click)="reset()"class="btn btn-warning m-1">0</button>
    </p>
</div>