<div class="container">
    <h2>Liste</h2>
    <h3>Lista semplice</h3>
    <ul class="list-group">
        <li class="list-group-item">Fiat</li>
        <li class="list-group-item">Mercedes</li>
        <li class="list-group-item">Audi</li>
        <li class="list-group-item">Bmw</li>
    </ul>

    <h3>Lista con action</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">Fiat</li>
        <li class="list-group-item list-group-item-action">Mercedes</li>
        <li class="list-group-item list-group-item-action">Audi</li>
        <li class="list-group-item list-group-item-action">Bmw</li>
    </ul>
    <h3>Lista con pulsanti</h3>
    <div class="list-group">
        <button class="list-group-item list-group-item-action">Fiat</button>
        <button class="list-group-item list-group-item-action">Mercedes</button>
        <button class="list-group-item list-group-item-action">Audi</button>
        <button class="list-group-item list-group-item-action">Bmw</button>
    </div>
    <h3>Lista dinamica</h3>
    <p>
        <input type="text" (input)="scegliAnimale($event)">scrivi il nome di un animale
    </p>
    <ul class="list-group">
        <li  *ngFor="let a of animali" class="list-group-item list-group-item-action" (class.active) = " a == animaleScelto">{{a}}</li> 
    </ul>
    
</div>