<h1>Colori</h1>

<h3 class="bg-primary">Primary</h3>
<p class="text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>

<h3 class="bg-secondary">Secondary</h3>
<p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>

<h3 class="bg-success">Success</h3>
<p class="text-success">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>

<h3 class="bg-info">Info</h3>
<p class="text-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>

<h3 class="bg-light">Light</h3>
<p class="text-light bg-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>


<h3 class="bg-warning">Warning</h3>
<p class="text-warning">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>

<h3 class="bg-danger">Danger</h3>
<p class="text-danger">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>

<h3 style="background: var(--bs-orange);">Orange</h3>
<p class="text-indigo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequuntur assumenda cum perferendis distinctio. Iusto debitis ipsam quod perferendis itaque necessitatibus, totam, in, libero quaerat vel aspernatur voluptatem labore sed!</p>
