<div class="container">
    <h2>Colonne a larghezza fissa</h2>
    <h3>2 box a largheza diversa</h3>
    <div class="row">
        <p  class="col-4">
            Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Iure consequuntur molestias 
            
        </p>
        <p  class="col-8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus, vitae quod blanditiis maiores repellat praesentium eum laudantium magni quia repellendus placeat ipsa officiis aut commodi dolor, aliquam quibusdam! Ducimus.
        </p>
    </div>
</div>
